<!DOCTYPE html>
<html lang="PT-BR">
	<head>
		<meta charset="UTF-8">
		<title>@Page.Title</title>
		<link rel="stylesheet" href="estiloLC.css">
        <script type="text/javascript" src="script.js"></script>
	</head>
	<body>
        <header id="masterLC">
		    <a href="index"><img id="logo" alt="IFBOOK" src="imagens/logo.png"></a>
	    </header>

        <section style="margin-bottom: 5px;">
	        @RenderBody()
	    </section>
    </body>
</html>
