<!DOCTYPE html>
<html lang="PT-BR">
	<head>
		<meta charset="UTF-8">
		<title>@Page.Title</title>
		<link rel="stylesheet" href="estilo.css">
        <script type="text/javascript" src="script.js"></script>
	</head>
	<body>
	    <header>
		    <a href="index"><img id="logo" alt="IFBOOK" src="imagens/logo.png"></a>
		    <nav id="sup">
			    <ul>
				    <li><input type="search" id="pesquisar" placeholder="Procurar um professor"></li>
				    <li><a style="text-decoration: none;" href="perfil"><h3>Marcos Zuckerberg</h3></li>
				    <li><img alt="user-photo" id="mark" src="imagens/marquinhos.jpg"></a></li>				
			    </ul>
		    </nav>
	    </header>
	
	    <nav id="lat">
			<ul>
			    <li><a href="feed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
			    <li><a href="materias">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Matérias</a></li>			
			    <li><a href="calourask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calourask</a></li>
			    <li><a href="calendario">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calendário de eventos</a></li>
    		    <li><a href="cadastro-professor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cadastre um professor</a></li>
                <li><a href="cadastro-materia">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cadastre uma matéria</a></li>
	    	    <li><a href="administradores">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administradores</a></li><br>
			    <li><a href="notificacoes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notificações</a></li>
			    <li><a href="logout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sair</a></li>
		    </ul>
	    </nav>

		<section style="margin-bottom: 5px;">
	        @RenderBody()
	    </section>

        <footer>
           
        </footer>
	</body>
</html>