@{
    Layout = "_Master.cshtml";
    Page.Title="Administradores";
}
<h1>Administradores</h1>
<div id="adms">
	<figure>
		<img src="imagens/carla.jpg" id="carla" alt="carla" class="foto-adm" height="160px" width="160px">
		<figcaption>Carla Maryele</figcaption>
	</figure>
	
	<figure>
		<img src="imagens/jules.jpg" id="jules" alt="jules" class="foto-adm" height="160px" width="160px">
		<figcaption>Jules Brendo</figcaption>
	</figure>

	<figure>
		<img src="imagens/marcos.jpg" id="marcos" alt="marcos" class="foto-adm" height="160px" width="160px">
		<figcaption>Marcos Adriano</figcaption>
	</figure>
	
	<figure>
		<img src="imagens/paulo.jpg" id="paulo" alt="paulo" class="foto-adm" height="160px" width="160px">
		<figcaption>Paulo Victor</figcaption>
	</figure>
	
	<figure>
		<img src="imagens/tuane.jpg" id="tuane" alt="tuane" class="foto-adm" height="160px" width="160px">
		<figcaption>Tuane Peres</figcaption>
	</figure>

	<figure>
		<img src="imagens/vinicius.jpg" id="vinicius" alt="vinicius" class="foto-adm" height="160px" width="160px">
		<figcaption>Vinicius Malafaya</figcaption>
	</figure>
</div>