@{
    Layout = "_MasterLC.cshtml";
    Page.Title = "Cadastre-se";
}
<form id="redirecionar" method="post" action="feed">
    <h1>Cadastro</h1>
    <input class="caixaTexto" type="text" placeholder="Nome completo" required><br>
    <input class="caixaTexto" type="text" placeholder="Usuário" required><br>
    <input class="caixaTexto" type="password" placeholder="Senha" required><br>
    <input class="caixaTexto" type="password" placeholder="Repita a senha" required><br>
    <input id="matricula" class="caixaTexto" type="number" placeholder="Matrícula" onkeydown="quantidade()" required><br>
    <select id="curso" required><option value="SelecioneSeuCurso">Selecione seu curso</option><option>Administração</option><option>Controle Ambiental</option><option>Edificações</option><option>Eletrotécnica</option><option>Geologia</option><option>Informática para Internet</option><option>Manutenção e Suporte em Informática</option><option>Mecânica</option><option>Mineração</option></select><br>
    <input style="width: 170px;" type="submit" class="enviar" value="Cadastrar-se" onclick="changeSelect()">
</form>