@{
    Layout = "_MasterLC.cshtml";
    Page.Title = "Cadastre-se";
}
<form method="post" action="feed">
    <h1>Cadastro</h1>
    <input class="caixaTexto" type="text" placeholder="Nome" required><br>
    <input class="caixaTexto" type="password" placeholder="Senha" required><br>
    <input class="caixaTexto" type="password" placeholder="Repita a senha" required><br>
    <input class="caixaTexto" type="number" placeholder="Matrícula" required><br>
    <input style="width: 170px;" type="submit" class="enviar" value="Cadastrar-se">
</form>