@{
    Layout = "_Master.cshtml";
    Page.title = "Cadastro de matérias";
}
<h1>Cadastro de matérias</h1>
<form>
    <div class="formulario"><label>Nome da matéria: </label><input style="width: 370px;" id="c1" type="text" required><br></div>
    <div class="formulario"><label>Curso: </label><select id="c2" required><option></option><option>Eletrotécnica</option><option>Edificações</option><option>Geologia</option><option>Informática para Internet</option></select><br></div>
    <input type="submit" id="enviar">
</form>