@{
    Layout = "_Master.cshtml";
    Page.Title = "Cadastro de professores";
}
<h1>Cadastro de professores</h1>
<form method="post" action="feed">
    <div class="formulario"><label>Nome do professor: </label><input id="c1" type="text" required><br></div>
    <div class="formulario"><label>Curso: </label><select id="c2" required><option></option><option>Eletrotécnica</option><option>Edificações</option><option>Geologia</option><option>Informática para Internet</option></select><br></div>
    <div class="formulario"><label>Matéria: </label><input id="c3" type="text" required><br></div>
    <input type="submit" id="enviar">
</form>