@{
    Layout = "_Master.cshtml";
    Page.Title="Calourask";
}
<h1>Calourask</h1>
<form id="calourask">
    Curso: <select class="campos">
        <option>Informática para Internet</option>
    </select><br>
    Nome: <input type="text" class="campos"><input id="anonimo" type="radio">Anônimo<br>
    <textarea></textarea>
</form>