@font-face{
	font-family: bebas;
	src: url("fontes/BebasKai-Regular.otf");
}

@font-face{
	font-family: amble;
	src: url("fontes/Amble-LightCondensed.otf");
}

body{
    background-color: #e4dede;
}

#masterLC{
    background-color: #2a8751;
    width: 103%;
    height: 70px;
	margin: -21px -8px auto -8px;
}


#logo{
	height: 76px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    margin-top: 42px;
}

/* Corpo */

section{
     min-width: 500px;
     padding:  20px;
     
}

h1{
    color: #2a8751;
	font-size: 55pt;
	font-family: bebas;
	text-align: center;
    margin-top: 20px;
}

/* Login */

form{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    padding-bottom: 220px;
}

#c1, #c2{
    border: solid 1px black;
    vertical-align: middle;
    padding: 7px;
    font-size: 18.7pt;
    height: 27px;
    width: 400px;
    margin-bottom: 18px;
}

::-webkit-input-placeholder{
	color: #2a8751;
	font-family: bebas;
	text-transform: uppercase;
	font-size: 20pt;
    padding-left: 12px;
}

:-moz-placeholder{
	color: #2a8751;
	font-family: bebas;
	text-transform: uppercase;
	font-size: 20pt;
    padding-left: 12px;
}

::-moz-placeholder{
	color: #2a8751;
	font-family: bebas;
	text-transform: uppercase;
	font-size: 20pt;
    padding-left: 12px;
}

:-ms-input-placeholder{  
	color: #2a8751;
	font-family: bebas;
	text-transform: uppercase;
	font-size: 14pt;
	padding-left: 12px;
}

.enviar{
    text-transform: uppercase;
    height: 42px;
    width: 140px;
    background-color: #2a8751;
    color: white;
    border: none;
    font-size: 22pt;
    font-family: bebas;
}

/* Rodapé */

footer{
	height: 50px;
	width: 100%;
	background-color: #2a8751;
	clear: both;
	margin-left: -8px;
}