@{
    Layout = "_MasterLC.cshtml";
    Page.Title = "Login";
}

<form method="post" action="feed">
    <h1>Login</h1>
    <input id="c1" type="text" placeholder="Usuário"><br>
    <input id="c2" type="password" placeholder="Senha"><br>
    <input type="submit" class="enviar">
</form>
