@{
    Layout = "_Master.cshtml";
    Page.Title = "Perfil";
}
<div id="area-foto">
    <img alt="user-photo" src="imagens/marquinhos.jpg" id="foto-perfil">
</div>

<div id="info-usuario">
    <h2>Nome: <span class="info-perfil">Marcos Zuckerberg</span></h2>
    <h2>Matrícula: <span class="info-perfil">20141011110298</span></h2>
    <h2>Usuário: <span class="info-perfil">marcosadriano99</span></h2>
    <h2>Curso: <span class="info-perfil">Informática para Internet</span></h2>
</div>